.cartContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.noProductFind {
	margin-top: 2rem;
	margin-left: 1rem;
}

.totalPrice {
	background-color: rgb(20, 90, 194);
	border: 1px solid rgb(20, 90, 194);
	padding: 0.5rem;
	color: rgba(250, 235, 215, 0.952);
	width: 25%;
	text-align: center;
	margin-left: 1rem;
	font-size: 20px;
}

.buttonMakePurchase,
.buttonBuy {
	margin-top: 1rem;
	margin-left: 1rem;
	font-size: 18px;
	font-weight: 500;
	padding: 0.5rem;
	color: rgba(219, 255, 247, 0.87);
	background-color: rgba(14, 83, 72, 0.856);
	border: 1px solid rgba(14, 83, 72, 0.856);
	border-radius: 8px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.74);
}

.buttonMakePurchase:hover,
.buttonBuy:hover {
	border: 2px solid rgba(35, 204, 176, 0.856);
}

.buttonMakePurchase:active,
.buttonBuy:active {
	border: 2px solid rgba(35, 204, 176, 0.856);
	font-weight: 700;
}

.formTittle {
	margin-top: 2rem;
	margin-left: 1rem;
}

.formBuy {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fieldInput {
	margin-left: 1rem;
	margin-bottom: 2rem;
	border-radius: 4px;
	height: 1.5rem;
}

.fieldInput:focus-visible {
	background-color: rgba(0, 255, 213, 0.253);
}

::placeholder {
	color: rgba(0, 0, 0, 0.74);
}
