.productDetailContainer {
	display: flex;
	justify-content: space-evenly;
}
.productDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: large;
	margin-top: 2rem;
}
.cardBottom {
	margin-top: 1rem;
	font-size: small;
	padding: 0.5rem;
	background-color: rgb(194, 222, 255);
	border-radius: 0;
}
.textCard {
	display: inline;
}
.priceCard {
	color: rgb(7, 71, 155);
}
.countProductCenter {
	margin: 12rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.buttonBack {
	/* Estilos provisorios */
	display: block;
	text-decoration: none;
	color: black;
	/* Fin de estilos provisorios */
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid rgb(190, 190, 190);
	border-radius: 8px;
	background-color: rgb(190, 190, 190);
}
