.productDetailContainer {
	display: flex;
	justify-content: space-evenly;
}

.productDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: large;
	margin-top: 8rem;
}

.unitsAvailable {
	margin-top: 1rem;
	margin-left: 12.5rem;
	font-size: small;
	padding: 0.5rem;
	background-color: rgb(220, 237, 255);
	border-radius: 0;
}

.textCard {
	display: inline;
}

.priceCard {
	color: rgb(7, 71, 155);
}

.countProductCenter {
	margin: 12rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.buttonBack {
	margin-top: 15rem;
	margin-right: 1rem;
	font-size: 18px;
	font-weight: 500;
	padding: 0.5rem;
	color: rgba(219, 255, 247, 0.87);
	background-color: rgba(14, 83, 72, 0.856);
	border: 1px solid rgba(14, 83, 72, 0.856);
	border-radius: 8px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.74);
}

.buttonBack:hover {
	border: 2px solid rgb(4, 27, 23);
}

.buttonBack:active {
	border: 2px solid rgb(4, 27, 23);
	font-weight: 700;
}

.buttonFinish {
	margin-top: 15rem;
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.836);
	font-weight: 500;
	border: 1px solid rgb(18, 89, 223);
	border-radius: 8px;
	background-color: rgb(18, 89, 223);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.74);
}

.buttonFinish:hover {
	border: 2px solid rgb(18, 37, 71);
}

.buttonFinish:active {
	border: 2px solid rgb(18, 37, 71);
	font-weight: 700;
}
