body {
	background-color: rgb(147, 172, 218);
}
.containerMsgAndCards {
	display: flex;
	flex-direction: column;
}

.greeting-container {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 3rem;
	width: 40%;
	background-color: #9ff0e9;
	border-radius: 1rem;
	border-bottom: 2px solid rgba(46, 46, 46, 0.925);
	border-right: 2px solid rgba(46, 46, 46, 0.925);
}

.greeting-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.spinnerContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 15rem;
}
