.navbar-container {
	display: flex;
	justify-content: space-evenly;
	background-color: rgb(47, 84, 187);
	height: 5rem;
	border-bottom: 2px solid rgb(5, 16, 48);
}

.navbar-titulo {
	margin-left: 1rem;
	padding-bottom: 2rem;
	color: rgb(241, 237, 231);
	font-size: 2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
}

.navbar-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-right: 19rem;
	margin-bottom: 2rem;
}

.navbar-item-link {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: rgb(241, 237, 231);
}
