/* Contenedores de los botones */
.buttonsContainerItemCount {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
.controlsContainerItemCount {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid rgb(115, 194, 221);
}
.buttonCartContainerItemCount {
	margin-left: 1rem;
	border-radius: 8px;
	border: 1px solid rgb(115, 194, 221);
	padding: 0.8rem;
	background-color: rgb(115, 194, 221);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.404);
}
.buttonCartContainerItemCount:hover {
	border: 2px solid rgba(50, 135, 204, 0.877);
}

/* Botones */
.buttonControlItemCount,
.buttonAddCartItemCount {
	font-size: 18px;
	border: 0px;
	background-color: rgb(115, 194, 221);
	border-radius: 8px;
	padding: 0 1rem;
}
.buttonLessItemCount {
	padding: 0 1.2rem;
}

.buttonControlItemCount:active,
.buttonAddCartItemCount:active {
	color: rgb(255, 255, 255);
	font-weight: 500;
}

.buttonControlItemCount:hover {
	border: 2px solid rgba(50, 135, 204, 0.877);
}
/* Contador */
.messageItemCount {
	margin: 0 1rem;
}
